body { 
    background-color: #2b2b2b;
    animation: fadeout 3s; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 2;
}

img {
  display: inline-block;
}


@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }


.brlarge {
display: block;
margin-bottom: 2em;
}